<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Twitch - Checker{% endblock %}</title>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <link rel="stylesheet" href="/custom.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>

        <div class="container-fluid">
            <ul class="nav nav-tabs">
                <li role="presentation" class="{% if nav == 'index' %}active{% endif %}"><a href="/">Home</a></li>
                <li role="presentation" class="{% if nav == 'profile' %}active{% endif %}"><a href="{{ path('profile') }}">Profile</a></li>
                <li role="presentation" class="{% if nav == 'stream' %}active{% endif %}"><a href="{{ path('stream') }}">Stream</a></li>
                <li role="presentation" class="{% if nav == 'following' %}active{% endif %}"><a href="{{ path('following') }}">Following</a></li>
                <li role="presentation" class="{% if nav == 'subscription' %}active{% endif %}"><a href="{{ path('subscription') }}">Subscription</a></li>
                <li role="presentation" class="{% if nav == 'emotes' %}active{% endif %}"><a href="{{ path('emotes') }}">Emotes</a></li>

                <li role="presentation" class="pull-right"><a href="http://padhie.de/impressum" target="_blank">imprint</a></li>
                <li role="presentation" class="pull-right{% if nav == 'twitch' %} active{% endif %}"><a href="{{ path('twitch_auth') }}">Twitch</a></li>
            </ul>

            {% block body %}{% endblock %}
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
